@model IEnumerable<ProjectSoccerPoo.Models.ObtenerPosiciones_Result>

@{
    ViewBag.Title = "Configuración - GetPositions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tabla de posiciones</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.POS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DG)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.POS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTOS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DG)
            </td>

        </tr>
    }
    <p>
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
    </p>
</table>
